* {
    margin: 0;
    padding: 0;
}

#game {
    width: 300px;
    height: 500px;
    border: 1px solid black;
    margin: auto;
}

#character {
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    top: 300px;
    left: 100px;
}

#block {
    width: 100px;
    height: 100px;
    background-color: black;
    animation: slide 1s linear infinite;
    position: relative;
}

@keyframes slide{
    0%{
        top: -100px;
    }
    100%{
        top: 500px
    }
}